/* Text Selection/Highlight Color */
::selection {
  color: #f8f9fa;
  background: #00923f;
}

/* unvisited link */
a:link {
  color: #00923F;
}

/* visited link */
a:visited {
  color: #00923F;
}

/* mouse over link */
a:hover {
  color: #69626d;
}

/* selected link */
a:active {
  color: #00923F;
}

/* custom block quote style */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 12px;
}

blockquote:before {
  color: #ccc;
  content: "note:";
  font-size: 12px;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: 0em;
}

blockquote p {
  display: inline;
}
